/* Navbar */
    .navbar {
      background: linear-gradient(90deg, #0d0d0d, #20c997);
      padding: 12px 30px;
    }

    .navbar-brand {
      font-weight: 700;
      color: #fff !important;
      font-size: 22px;
    }

    .navbar .btn {
      border-radius: 25px;
      font-weight: 600;
      padding: 6px 18px;
    }

		#signupForm{
			max-height: 400px !important;
			overflow-y: auto;
		}
		#signupForm::-webkit-scrollbar {
			width: 8px;
		}
		#signupForm::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.2);
			border-radius: 4px;
		}
		#signupForm::-webkit-scrollbar-track {
			background-color: rgba(0, 0, 0, 0.1);
			border-radius: 4px;
		}
